.recordButton {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -64px;
	margin-left: -64px;
	width: 128px;
	height: 128px;
	/*-webkit-appearance: none;*/
	border: 0;
}

.startRecord {
	background:url(img/button-start.png) no-repeat;
}

.stopRecord {
	background:url(img/button-stop.png) no-repeat;
}

.horizontalObject, .sensorLabel, .sensorValue {
	float: left;
	text-align:left;
	position:relative;
}

.sensorLabel {
	color:#878787;
	padding-left: 5px;
	padding-right: 5px;
}

.sensorValue {
	
}